.bottom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 23px 27px;
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px #00b0b026;
    z-index: 100;

    .tab {
        display: flex;
        align-items: center;
        color: #aaaaaa;
        cursor: pointer;
        transition: color 0.1s;

        &.active {
            color: #ff9b57;
        }

        .icon {
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        span {
            display: none;
            color: black;
            margin-left: 5px;
            // font-family: Plus Jakarta Sans;
            font-size: 12px;
            font-weight: 500;
            line-height: 15.12px;
            text-align: center;
        }

        &.active span {
            display: block;
        }
    }
}
