.grid-layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px 0 30px;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 0px !important;
}

.grid-item {
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 10px 20px 0px #00dfee1a;
    // aspect-ratio: 1;
    margin-bottom: 0px !important;
}
     